<div class="chart-area">
  <div class="charts">
    <div>
      <canvas id="incomePieChart" width="450" height="450"></canvas>
    </div>
    <div>
      <canvas id="expensePieChart" width="450" height="450"></canvas>
    </div>
  </div>
  <div class="charts">
    <div>
      <canvas id="lineChart" width="450" height="450"></canvas>
    </div>
    <div>
      <canvas id="barChart" width="450" height="450"></canvas>
    </div>
  </div>
</div>
<script>
  // Client-side Chart.js code
   document.addEventListener("DOMContentLoaded", () => {
        var ctx1 = document.getElementById("incomePieChart").getContext("2d");
        new Chart(ctx1, {
          type: "pie",
          data: {{{json incomeChartData}}},
          options: {
            plugins: {
              legend: {
                display: true,
                position: "bottom",
                labels: {
                  color: "white",
                  font: {
                    size: 14,
                    weight: "bold"
                  }
                },
              },
              title: {
                display: true,
                text: "INCOME",
                color: "white",
                font: {
                  weight: "bold",
                  size: 25,
                },
              },
            },
          },
        });     
        var ctx2 = document.getElementById("expensePieChart").getContext("2d");
        new Chart(ctx2, {
          type: "pie",
          data: {{{json expenseChartData}}},
          options: {
            plugins: {
              legend: {
                display: true,
                position: "bottom",
                labels: {
                  color: "white",
                  font: {
                    size: 14,
                    weight: "bold"
                  }
                },
              },
              title: {
                display: true,
                text: "EXPENSE",
                color: "white",
                font: {
                  weight: "bold",
                  size: 25,
                },
              },
            },
          },
        });     
        var bar = document.getElementById("barChart").getContext("2d");
        new Chart(bar, {
          type: "bar",
          data: {{{json barGraphData}}},
          options: {
            scales: {
              x: {
                ticks: {
                  color: "white",
                  font: {
                    size: 14,
                    weight: "bold"
                  }
                },
                grid: {
                  color: "white", 
                },
              },
              y: {
                beginAtZero: true,
                ticks: {
                  color: "white",
                  font: {
                    size: 14,
                    weight: "bold"
                  }
                },
                grid: {
                  color: "white", 
                },
              },
            },
            plugins: {
              legend: {
                labels: {
                  color: "white",
                  font: {
                    weight: "bold",
                    size: 25,
                  }, // Legend text color
                },
              },
            },
          },
        });

        var line = document.getElementById("lineChart").getContext("2d");
        new Chart(line, {
            type: 'line',
            data: {{{json lineChartData}}},
            options: {
              pointBackgroundColor: "rgba(255, 99, 132, 1)",
            scales: {
              x: {
                ticks: {
                  color: "white",
                  font: {
                    size: 14,
                    weight: "bold"
                  }
                },
                grid: {
                  color: "white",
                },
              },
              y: {
                beginAtZero: true,
                ticks: {
                  color: "white",
                  font: {
                    size: 14,
                    weight: "bold"
                  }
                },
                grid: {
                  color: "white",
                },
              },
            },
            plugins: {
              legend: {
                labels: {
                  color: "white",
                  font: {
                    weight: "bold",
                    size: 25,
                  }, // Legend text color
                },
              },
            },
          },
        });
    });
</script>