<div class="box-card">
  <h2 class="page-title">ADD EXPENSE</h2>
  <form class="form expense-form">
    <input type="hidden" id="user-id" value="{{userId}}">
    <div class="form-group">
      <label>Category*</label>
        <select id="category-selection">
            {{#each categories as |category|}}
            <option value={{category.id}}>{{category.name}}</option>
             {{/each}}
        </select>
    </div>
    <div class="form-group">
      <label for="expense-description">Description*</label>
      <input class="form-input" id="expense-description" placeholder="required"/>
    </div>

    <div class="form-group">
      <label for="expense-amount">Amount*</label>
      <input class="form-input" id="expense-amount" placeholder="required"/>
    </div>

    <div class="form-group">
      <button class="btn btn-primary add-button" type="submit">Add</button>
      <button class="btn btn-primary cancel-button" onclick="cancelForm()">Cancel</button>
    </div>
  </form>
</div>
<script>
  function cancelForm() {
    // Navigate back to the previous page
    window.history.back();
  }
</script>
<script src="./js/expense-add.js"></script>
