<div class="box-card homepage">
  <p id="homepage-text">
    Welcome to Finance Handlers! This application is designed for you to easily add your income streams, as well as your expenditures allowing you to easily keeping track of their profits/losses/savings. 

  </p>
</div>