<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>



<table>
    <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    {{#each incomes as |income|}}

    <tr>
        <td>{{income.description}}</td>
        <td>{{income.amount}}</td>
        <td>{{income.transaction_date}}</td>
    
    </tr>
    {{/each}}
   
</table>

