<div class="background">
            <img src="./images/white-background-with-orange-geometric.jpg" alt="rolled dollars coins stack table ">
       </div>
        <div class="container">
            <h2>Login Form</h2>
            <form id="loginForm">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>                          
                <input type="password" id="password" name="password" required>
              </div>
              <a class="Register" href="#"> Register </a> <br>
              <a class="Password-reset" href="#"> Forgot Password </a> <br>
              <button type="submit">Login</button>
            </form>
          </div>